<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台商品/訂單管理系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" color="#2e8b57">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("商品資訊", "CommodIndex", "Commodity")</li>
                    <li>@Html.ActionLink("訂單查詢", "OrderIndex", "Order")</li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <div align="center">

                <b>親愛的 @ViewBag.UserID 您好</b>
                <p>@Html.ActionLink("登出", "Logout", "Login")</p>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
