@model EC_Back.Models.Commodity

@{
    ViewBag.Title = "新增商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>新增商品</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @*Id*@
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*ID為系統自動亂數產生 不允許更改*@
                <input name="Id" id="message" value="@ViewBag.ID" readonly class="form-control" />
            </div>
        </div>
        @*Name*@
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        @*Help*@
        <div class="form-group">
            @Html.LabelFor(model => model.Help, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Help, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Help, "", new { @class = "text-danger" })
            </div>
        </div>
        @*Price*@
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        @*Invantory*@
        <div class="form-group">
            @Html.LabelFor(model => model.Inventory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inventory, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inventory, "", new { @class = "text-danger" })
            </div>
        </div>
        @*Owner*@
        <div class="form-group">
            @Html.LabelFor(model => model.Owner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*Owner為使用者登入帳號 不允許進行更改*@
                <input name="Owner" value="@ViewBag.UserId" readonly class="form-control" />
            </div>
        </div>
        @*送出*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增商品" id="send" class="btn btn-success" />
                @Html.ActionLink("返回商品資訊", "CommodIndex", "Commodity", new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}


